@mixin btn {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #fff;
  transition: 0.5s;
  &:hover {
    background: #fff;
    transform: scale(1.2);
    color: #555;
  }
}
@mixin defaultTitle {
  font-size: 20px;
  font-family: "Montserrat";
  position: relative;
  margin-bottom: 60px;
  &::after {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    bottom: -30px;
    left: 50%;
    width: 50px;
    height: 2px;
    background: #555555;
  }
}
@mixin defaultsubtitle {
  font-size: 16px;
  line-height: 1.2em;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 0 150px;
}
body {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  min-height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  padding: 100px 0;
}
.header {
  padding: 40px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../img/BG1.png) no-repeat center/cover;
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      p {
        font-size: 24px;
        line-height: 1.3em;
        color: #ffffff;
        font-family: "Montserrat";
        font-weight: 700;
      }
    }
    .header__nav {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          a {
            color: #ffffff;
            margin-right: 30px;
            transition: 0.3s;
            text-decoration: none;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              top: calc(100% + 5px);
              left: 0;
              width: 100%;
              height: 1px;
              background: #fff;
              opacity: 0;
              transition: 0.3s;
            }
            &:hover::after {
              opacity: 1;
            }
            &:not(:last-child) {
              margin-right: 20px;
            }
          }
        }
      }
    }
    .header__burger {
      display: none;
      width: 40px;
      height: 40px;
      border: 2px solid #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      @media screen and (max-width: 992px) {
        .header__burger {
          display: flex;
        }
      }
      .header__line {
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
      }
      .header__line_middle {
        margin: 5px 0;
      }
    }
  }
  .header__content {
    margin: 250px 0;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 48px;
      line-height: 1.2em;
      color: #ffffff;
      font-family: "Montserrat";
    }
    p {
      font-size: 16px;
      line-height: 1.2em;
      color: #ffffff;
      padding: 30px;
    }
    a {
      @include btn;
    }
  }
}

.servicies {
  h2 {
    @include defaultTitle;
  }
  p {
    margin-bottom: 60px;
    @include defaultsubtitle;
  }
  .servicies__item {
    h3 {
      font-family: "Montserrat";
      padding: 20px 0 10px 0;
    }
    p {
      line-height: 1.6em;
      text-align: justify;
      text-align-last: center;
    }
    i {
      border-radius: 50%;
      padding: 20px;
      border: 2px solid #e2e2e2;
      font-size: 45px;
      color: #c0301c;
      &:hover {
        background: #c0301c;
        border: 2px solid #c0301c;
        color: #fff;
      }
    }
  }
}
.about {
  padding: 100px 0;
  background: #f8f8f8;
  h2 {
    @include defaultTitle;
  }
  p {
    margin-bottom: 70px;
    @include defaultsubtitle;
  }
  .about_text {
    p {
      text-align: justify;
      text-align-last: center;
    }
  }
  .about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      padding: 20px 0 15px 0;
      font-family: "Montserrat";
    }
    .about__item_pic {
      max-width: 263px;
      width: 100%;
      height: 250px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
      .about__socials {
        background: rgba(0, 0, 0, 0.493);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 20px;
        opacity: 0;
        transition: 0.3s;
        &:hover {
          opacity: 1;
        }
        a {
          padding: 10px;
          i {
            font-size: 14px;
            color: #fff;
          }
          &:hover {
            background: #c0301c;
            padding: 10px;
            border-radius: 6px;
            color: #fff;
          }
        }
      }
    }
  }
}
.works {
  padding: 100px;
  h4 {
    @include defaultTitle;
  }
  .works__nav {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      transition: 0.3s;
      font-size: 16px;
      line-height: 24px;
      color: #797070;
      margin-bottom: 50px;
    }
  }
  .works__nav {
    a:hover {
      color: #c0301c;
    }
  }
  .works__fotos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .works__foto {
      max-width: 360px;
      max-height: 320px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 15px;
      img {
        object-position: left;
      }
      .works__foto__btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(243, 22, 22, 0.425));
        transition: 0.3s;
        h5 {
          font-size: 18px;
          color: #ffffff;
          font-family: "Montserrat";
        }
        p {
          font-size: 12px;
          color: #ffffff;
        }
        a {
          background: #ffffff;
          text-transform: uppercase;
          color: #c0301c;
          span {
            font-size: 25px;
            margin-left: 5px;
          }
          &:hover {
            border: 1px solid #fff;
            color: #fff;
            background: none;
          }
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
.intouch {
  background: linear-gradient(rgba(224, 79, 79, 0.4)),
    url(../img/BG2.png) no-repeat center/cover;
  h5 {
    font-size: 30px;
    line-height: 1.5em;
    color: #ffffff;
    margin: 90px 0 50px 0;
  }
  a {
    @include btn;
  }
}
.blog {
  margin: 100px 0;
  h5 {
    @include defaultTitle;
  }
  p {
    @include defaultsubtitle;
  }
  .blog__items {
    justify-content: center;
    align-items: center;
    .blog__item {
      margin-bottom: 30px;
      justify-content: center;
      align-items: center;
      .blog__item_pic {
        img {
          max-width: 100%;
        }
      }
      .blog__item_text {
        justify-content: center;
        align-items: center;
        .blog__item_text_title {
          display: flex;
          align-items: center;
          font-family: "Montserrat";
          .blog__data {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 2px solid #555555;
            width: 76px;
            height: 76px;
            margin-right: 20px;
            p {
              margin: 0;
            }
          }
          .blog__item_text_title1 {
            max-width: 630px;
            width: 100%;
            font-family: "Montserrat";

            &:hover {
              color: #c0301c;
              p {
                span {
                  color: #555555;
                }
              }
            }
          }
        }
        .blog__item_text1 p {
          line-height: 1.2em;
          color: #555555;
          justify-content: left;
        }
        .read__more {
          color: #555555;
          &:hover {
            color: #c0301c;
          }
          hr {
            max-width: 1150px;
            width: 100%;
            border: none;
            background-color: #555555;
            color: #555555;
            height: 1px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

.testimonials__logo {
  background: #f8f8f8;
  .logos__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0 70px 0;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .logos__item {
      &:not(:last-child) {
        margin-right: 20px;
        @media screen and (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
  .logo__text_quote {
    font-size: 18px;
    line-height: 1.4em;
    font-style: italic;
    padding-bottom: 30px;
    max-width: 790px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .logo__dots {
    display: flex;
    justify-content: center;
    padding: 30px 0 90px 0;
    color: #dddddd;
    font-size: 30px;
    p:hover,
    p.active {
      color: #c0301c;
    }
  }
}
.form {
  h6 {
    @include defaultTitle;
  }
  p {
    @include defaultsubtitle;
    margin-bottom: 50px;
  }
  .form__adress__item {
    display: flex;
    h3 {
      font-family: "Montserrat";
      align-items: center;
      font-size: 14px;
      transition: 0.5s;
    }
    i {
      font-size: 14px;
      margin-right: 10px;
    }
    h3:hover {
      font-weight: 700;
    }
    .form__adress {
      p {
        font-size: 12px;
        line-height: 1.5em;
        padding-left: 20px;
      }
    }
  }
  .form__item {
    input {
      max-width: 350px;
      width: 100%;
      max-height: 45px;
      height: 100%;
      border-radius: 4px;
      padding: 20px 0px;
      margin-bottom: 20px;
      &:focus {
          outline-color: #c0301c;
        }
      &:not(:last-child) {
        margin-right: 30px;
        
      }
    }
  }
  textarea {
    max-width: 730px;
    width: 100%;
    height: 100px;
    padding: 20px;
    &:focus {
      outline-color: #c0301c;
    }
  }
  .form__btns {
    margin-top: 15px;
    justify-content: space-around;

    button {
      max-width: 170px;
      width: 100%;
      max-height: 44px;
      align-items: center;
      font-size: 16px;
      border: 1px solid #555;
      color: #797070;
      text-transform: uppercase;
      border: 1px solid #797070;
      background: transparent;
      transition: 0.5s;
      &:hover {
        border: 1px solid #c0301c;
        color: #c0301c;
      }
    }
    p {
      margin-top: 8px;

      span {
        color: #c0301c;
        margin-right: 5px;
      }
    }
  }
}

.map {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 400px;
  width: 100%;
  position: relative;
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.footer {
  padding-top: 90px;
  background: #c0301c;
  .footer__socials {
    padding: 90px 0 30px 0;
    a {
      padding: 15px;
      border: 2px solid #fff;
      border-radius: 50%;
      color: #fff;
      transition: 0.5s;
      &:hover {
        background: #797070;
        border-radius: 30%;
      }
    &:not(:last-child) {
      margin-right: 15px;
    }
    }
  }

  p {
    padding: 70px 0 90px;
    font-size: 12px;
    color: #ffffff;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      transform: translateX(-50%);
      top: 30px;
      left: 50%;
      width: 50px;
      height: 2px;
      background: #ffffff;
    }
  }
}
